services:
  site:
    image: floryn90/hugo:0.152.2-ext-ubuntu
    entrypoint: ["/bin/sh", "-c"]
    command: ["./fetch-charts.sh && hugo server"]
    ports:
      - "1313:1313"
    environment:
      - HUGO_CACHEDIR=/tmp/hugo_cache
      - CHARTS_URL
      - CHARTS_API_KEY
    #      - HUGO_ENV=production
    volumes:
      - .:/src
      - ./.hugo_cache:/tmp/hugo_cache
