+++
title = "Navidrome"
linkTitle = "Navidrome"

+++

{{< blocks/cover title="Welcome to Navidrome!" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/deluan/navidrome/releases">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">Your Personal Streaming Service</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Navidrome allows you to enjoy your music collection from anywhere, by making it available through a 
modern Web UI and through a wide range of third-party compatible mobile apps, for both iOS and Android devices.

Navidrome is open source software distributed **free of charge** under the terms of the 
[GNU GPL v3](https://www.gnu.org/licenses/gpl-3.0) license.
{{% /blocks/lead %}}

{{< blocks/section color="light" >}}


{{% blocks/feature icon="fa-bolt" title="Blazing fast!" url="/about" %}}
Lightweight, fast and self-contained. Runs well even on resource-limited platforms (ex: Raspberry Pi)
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-database" title="Handles large libraries!" url="/about" %}}
Plays well with gigantic music collections (tested with +152K songs!)
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-compress-arrows-alt" title="Transcoding on the fly!" url="/about" %}}
Converts/reduces your music files as you play them, so you don't nuke your data plan
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-mobile-alt" title="Access your music from anywhere!" url="/about" %}}
Choose from a large selection of mobile clients or use the integrated web player
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-certificate" title="Modern and up-to-date" url="/about" %}}
Built with new technologies (GoLang, ReactJS), to ensure modern features and compatiblility
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-cogs" title="Subsonic API" url="/about" %}}
Compatible with the de facto standard Music API, supporting all its clients and ecosystem
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-chart-line" title="Active project!" url="/about" %}}
New releases adding features and bug fixes on a regular basis.
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/deluan/navidrome" %}}
We do a [Pull Request](https://github.com/deluan/navidrome/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-reddit" title="Join the conversation!" url="https://www.reddit.com/r/navidrome/" %}}
For announcement of latest features, discussions and help from your fellow users, visit our **Reddit**
{{% /blocks/feature %}}


{{< /blocks/section >}}
