{{ $apiToken := .Get "apiToken" }}
{{ $projectId := .Get "projectId" }}

{{ $url := "https://api.poeditor.com/v2/languages/list" }}
{{ $body := printf "api_token=%s&id=%s" $apiToken $projectId | safeURL }}
{{ $headers := dict "Content-Type" "application/x-www-form-urlencoded" }}
{{ $cacheBuster := now.Unix }}

{{ with try (resources.GetRemote (printf "%s?cache-buster=%d" $url $cacheBuster) (dict "method" "POST" "body" $body "headers" $headers)) }}
  {{ with .Err }}
    <p>Error: {{ . }}</p>
  {{ else with .Value }}
    {{ $data := .Content | unmarshal }}
    {{ if eq $data.response.status "success" }}
    <table class="translation-table sortable">
        <thead>
        <tr>
            <th>Language</th>
            <th>Code</th>
            <th>Progress</th>
            <th>Last Updated</th>
        </tr>
        </thead>
        <tbody>
        {{ range $language := $data.result.languages }}
        {{ if gt $language.percentage 70 }}
        <tr>
            <td>
              {{ $lang := lower $language.code }}
              {{ if eq $lang "eo" }}
                <img src="https://upload.wikimedia.org/wikipedia/commons/f/f5/Flag_of_Esperanto.svg" alt="Esperanto flag" style="vertical-align:middle; margin-right:6px; width:24px; height:18px; border-radius:2px;">
              {{ else }}
                {{ $flagMap := dict
                  "ar" "_arab_league" "eu" "es-ba" "ca" "es-ct" "zh-hans" "cn" "zh-hant" "tw" "cs" "cz" "da" "dk" "en" "gb" "et" "ee" "gl" "es-ga" "el" "gr" "hi" "in" "ja" "jp" "ko" "kr" "fa" "ir" "pt-br" "br" "sr" "rs" "sl" "si" "sw" "tz" "sv" "se" "uk" "ua" "yi" "il"
                }}
                {{ $flagCode := index $flagMap $lang }}
                {{ if $flagCode }}
                  <img
                    class="poeditor-flag"
                    src="https://poeditor.com/public/stylesheets/ui/flags/flags/4x3/{{ $flagCode }}.svg"
                    alt="{{ $language.code }} flag"
                    style="vertical-align:middle; margin-right:6px; width:24px; height:18px; border-radius:2px;"
                    data-lang="{{ $lang }}"
                  >
                {{ else }}
                  <img
                    class="poeditor-flag"
                    src="https://poeditor.com/public/stylesheets/ui/flags/flags/4x3/{{ $lang }}.svg"
                    alt="{{ $language.code }} flag"
                    style="vertical-align:middle; margin-right:6px; width:24px; height:18px; border-radius:2px;"
                    data-lang="{{ $lang }}"
                  >
                {{ end }}
              {{ end }}
              {{ $language.name }}
            </td>
            <td>{{ $language.code }}</td>
            <td>{{ printf "%.2f%%" $language.percentage }}</td>
            <td>{{ time.AsTime $language.updated | time.Format "2006-01-02" }}</td>
        </tr>
        {{ end }}
        {{ end }}
        </tbody>
    </table>
    {{ else }}
    <p>Error: {{ $data.response.message }}</p>
    {{ end }}
  {{ else }}
    <p>Error: Unable to fetch translation data from POEditor.</p>
  {{ end }}
{{ end }}